<!--<div class="item-color"  [style]="background-color: color_code">-->

<!--    <div class="color"></div>-->
<!--  -->
<!--    <p>{{ color }}</p>-->

<!--</div>-->

<div class="item-color">

  @if (color=='Red') {
    <div class="color" style="background-color: #FF2621"></div>
    <p>{{ color }}</p>

  } @else if (color == 'Blue')
  {
    <div class="color" style="background-color: #0C60DD"></div>
    <p>{{ color }}</p>
  }
@else if (color == 'Yellow')
  {
    <div class="color" style="background-color: #FFBD31"></div>
    <p>{{ color }}</p>
  }
@else if (color == 'Lime')
  {
    <div class="color" style="background-color: #A5F559"></div>
    <p>{{ color }}</p>
  }
@else if (color == 'Blue')
  {
    <div class="color" style="background-color: #0C60DD"></div>
    <p>{{ color }}</p>
  }
@else if (color == 'Grey')
  {
    <div class="color" style="background-color: #808080"></div>
    <p>{{ color }}</p>
  }
@else if (color == 'Orange')
  {
    <div class="color" style="background-color: #FF7426"></div>
    <p>{{ color }}</p>
  }
@else if (color == 'Pink')
  {
    <div class="color" style="background-color: #FF6C8E"></div>
    <p>{{ color }}</p>
  }
@else if (color == 'Purple')
  {
    <div class="color" style="background-color: #8C469D"></div>
    <p>{{ color }}</p>
  }
@else if (color == 'Black')
  {
    <div class="color" style="background-color: #000000"></div>
    <p>{{ color }}</p>
  }
@else if (color == 'White')
  {
    <div class="color" style="background-color: #ffffff"></div>
    <p>{{ color }}</p>
  }
@else if (color == 'Brown')
  {
    <div class="color" style="background-color: #815D43 "></div>
    <p>{{ color }}</p>
  }@else if (color == 'Green')
  {
    <div class="color" style="background-color: #127042 "></div>
    <p>{{ color }}</p>
  }

</div>

